<!DOCTYPE html>
<html>

<head>
  <% include Head %>
  <script>
    $(function () {
      $('#search_btn').click(function () {
        checkInput();
        setMap();
      });
      //상품 클릭 시 지도 위치 변경
      <% if (driver_info) {
        for (var i = 0; i < driver_info.length; i++) { %>
          $('#item' +<%=i %>).click(function () {
            const location = $('#item' +<%=i %>).data('location');
            setMap(location);
          });
      <% }
      } %>

      //기사 클릭 시 해당 기사 조회 페이지로 이동
      <% if (driver_list) {
        for (var i = 0; i < driver_list.length; i++) { %>
          $('#driver' +<%=i %>).click(function () {
            location.href = '/Company?driver_id=<%=driver_list[i].ID%>';
          });
      <%  }
      }%>

        $('#layerPopup').hide();
      $('#show_driver_btn').click(function () {
        $('#layerPopup').show();
      });

      $('#closePopupBtn').click(function() {
        $('#layerPopup').hide();
      })
    });

    function checkInput() {
      if ($('#search_inpug').val() == '') {
        $('#company_form').submit();
      }
    }
  </script>
  <!--카카오맵 설정-->
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c7cd35da5e88d1f13545a9b0e54b7152&libraries=services"></script>
  <script>
    function setMap(location) {
      var container = document.getElementById('map');
      var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
      };
      var map = new kakao.maps.Map(container, options);
      var geocoder = new kakao.maps.services.Geocoder();
      var address;
      <% if (driver_info) { %>
        address= '<%=driver_info[0].Location%>';
      <% } %>
      
      if (location)
        address = location;
      geocoder.addressSearch(address, function (result, status) {
        console.log(status)
        if (status == kakao.maps.services.Status.OK) {
          //위경도 얻어오기
          var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
          map.panTo(coords);
          var imageSrc = 'Images/truck.png',
            iamgeSize = new kakao.maps.Size(30, 30),
            imageOptions = { offset: new kakao.maps.Point(20, 20) };
          var markerImage = new kakao.maps.MarkerImage(imageSrc, iamgeSize, imageOptions);

          var markerPosition = new kakao.maps.LatLng(result[0].y, result[0].x);
          var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImage
          });
          marker.setMap(map);
        }
      });
    }
  </script>
</head>

<body class="body">
  <%include Banner %>
  <!--왼쪽 div-->
  <div class="float-left left_div">
  <!--2 기사정보 검색-->
  <div class="card">
    <div class="card-body">
    <h4 class="card-title">기사 정보 조회</h4>
    <form class="form-inline" method="GET" action="/Company" id="company_form">
      <input class="form-control" type="text" placeholder="기사 ID 입력" name="driver_id" id="search_input">
      <button class="btn btn-primary" type="button" id="search_btn">GO!</button>
    </form>
  </div>
  </div>
  <!--2 기사 정보-->
  <div class="card" style="margin-top: 30px;">
    <!--검색한 기사가 있을 때만 출력-->
    <dv class="card-body">
    <% if(driver_info) { %>
    <h4 class="card-title">기사 정보</h4>
    <p>배송 기사명: <%=driver_info[0].DriverName%></p>
    <p>배송 기사 연락처: <%=driver_info[0].DriverPhone%></p>
    <!--3 운송정보-->
    <div>
      <h4 class="card-title">운송정보</h4>
      <p><%=All%>개 중 <%=Done%>개 남음</p>
    </div>

      <!--4 화물 정보 여러개 2*x 배열-->
      <div class="container" style="padding-bottom: 100px; margin-top: -60px;">
        <div class="row">
        <% for(var i=0; i<driver_info.length; i++) { %>
        <!--카드 형태로 표현될 뷰들-->
        <div class="col card" id="item<%=i%>" data-location="<%=driver_info[i].Location%>" style="margin-left: 10px; margin-right: 10px;">
          <div class="card-body">
          <label>상품명: <%=driver_info[i].ItemName%></label>
          <label>송장: <%=driver_info[i].InvoiceNum%></label>
          <label>상태: <%=driver_info[i].Action%></label>
          <label>출발주소: <%=driver_info[i].StAddress%></label>
          <label>도착주소: <%=driver_info[i].DstAddress%></label>
          </div>
        </div>
        <% } if(i%2==0) {%>
        </div>
          <% } %>
      </div>
    </div>
  </div>
  <% } %>
  </div>

  <% if(driver_info) { %>
  <!--2 지도-->
  <div class="card right_div float-right">
    <div class="card-body">
    <h4 class="card-title">위치 조회</h4>
    <!--카카오맵-->
    <div id="map">
      <!--지도라 꾸밀 것 없음-->
    </div>
    <script>
      setMap(null);
    </script>
  </div>
  <% } %>
  </div>
  <!--2모든 기사 목록 보기-->
  <div class="card right_div float-right" style="margin-top: 30px;">
    <div class="card-body">
        <button class="btn btn-primary btn-block" id="show_driver_btn">모든 기사 목록 보기</button>
    </div>
    
  </div>
  <!--기사 선택 팝업-->
  <div id="layerPopup" class="card"
    style="background: white; width: 400px; z-index: 5; position:absolute; top: 50%; left: 50%; margin-left: -150px; margin-top: -150px;">
    <div class="card-body">
    <h3 class="card-title">기사 목록</h3>
    <div style="overflow: scroll; height: 200px;">
      <!--기사 테이블-->
      <% try { %>
      <table class="table">
        <thead class="thead-dark">
          <th>이름</th>
          <th>연락처</th>
          <th>상태</th>
        </thead>
        <tbody>
          <% for (var i=0; i<driver_list.length; i++) { %>
          <tr id="driver<%=i%>">
            <td><%=driver_list[i].DriverName%></td>
            <td><%=driver_list[i].DriverPhone%></td>
            <td><%=driver_list[i].Action%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } catch(err){

        } %>
        
    </div>
    <button id="closePopupBtn" class="btn btn-block btn-secondary">닫기</button>
</div>
  </div>
</body>